*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.hidden {
  display: none
}

.visible {
  display: block
}

section {
  display: block;
}

.head {
  padding: 115px 15px;
  position: relative;
  background: linear-gradient(to right,#efeeea 0,#c4c4c4 70%);
}

@media (max-width: 700px) {
  .head {
    padding: 80px 15px;
  }
}

.head__container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.head__title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  background-color: #000;
  padding: 0 30px;
  margin: 0 0 40px 0;
  display: inline-block;
}

@media (max-width: 700px) {
  .head__title {
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 500px) {
  .head__title {
    font-size: 26px;
    line-height: 38px;
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  .head__title {
    font-size: 20px;
    line-height: 32px;
    padding: 0 10px;
  }
}

.head__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
}

@media (max-width: 500px) {
  .head__subtitle {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 5px;
    text-shadow: 2px 1px 2px #e4e8eb;
  }
}

.head__bg {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .head__bg {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .head__bg {
    width: 70%;
  }
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleY(-1);
}
