<section class="head">
  <div class="head__container">
    <h2 class="head__title">Афінні перетворення</h2>
    <h3 class="head__subtitle">Створюйте рухомі зображення</h3>
  </div>
  <div class="head__bg ibg" style="background-image: url(https://i.pinimg.com/564x/e0/60/4f/e0604f9976b15d9f5dc6cc3170245f9d.jpg);"></div>
</section>

