.footer {
  -webkit-box-shadow: 0 -3px 5px 1px rgb(163 163 163 / 10%);
  box-shadow: 0 -3px 5px 1px rgb(163 163 163 / 10%);
  text-align: center;
}

.footer__logo {
  padding: 50px 15px 40px;
}

.footer__rights {
  line-height: 90px;
  color: #9c9c9c;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .33px;
}

@media (max-width: 450px) {
  .footer__rights {
    line-height: 22px;
    padding: 15px;
  }
}

  .footer__rights span {
    color: #000;
  }

  .footer__rights p {
    display: inline-block;
  }

aside, footer, header, nav {
  display: block;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__social {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.footer__link {
  margin: 0 25px;
}

a, a:visited {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.footer__link .fa {
  color: #9c9c9c;
  line-height: 60px;
  font-size: 22px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer__link .fa:hover {
  color: #000;
}
