<footer class="footer">
  <div class="footer__logo">
    <img src="https://smartsurock.github.io/Lian/img/icons/logo.webp" alt="alt" />
  </div>
  <div class="footer__social">
    <a href="" class="footer__link">
      <fa-icon class="fa" [icon]="faFacebook"></fa-icon>
    </a>
    <a href="" class="footer__link">
      <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
    </a>
    <a href="" class="footer__link">
      <fa-icon class="fa" [icon]="faGooglePlus"></fa-icon>
    </a>
    <a href="" class="footer__link">
      <fa-icon class="fa" [icon]="faTelegram"></fa-icon>
    </a>
    <a href="" class="footer__link">
      <fa-icon class="fa" [icon]="faYoutube"></fa-icon>
    </a>
  </div>
  <div class="footer__rights">
    © 2021 <span>Комп'ютерна графіка</span> від Lian. <p>Всі права захищені.</p>
  </div>
</footer>
