::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #d7d7d7;
  }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

.no-scroll {
  overflow-y: hidden;
}
