<section class="head">
  <div class="head__container">
    <h2 class="head__title">Про Lian</h2>
    <h3 class="head__subtitle">Ласкаво просимо</h3>
  </div>
  <div class="head__bg ibg" style=" background-image: url(https://smartsurock.github.io/Lian/img/Head/001.webp);"></div>
</section>
<section class="story">
  <div class="story__container">
    <div class="story__column ibg" style="background-image: url(https://smartsurock.github.io/Lian/img/Story/001.jpg);"></div>
    <div class="story__column">
      <div class="story__story">
        <h2 class="story__title">Наша історія</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit.
        </p>
      </div>
      <div class="story__skills">
        <h2 class="story__title">Наші вміння</h2>
        <div class="story__flag flag">
          <div class="flag__item">
            <div class="flag__title">Web Design</div>
            <div class="flag__line">
              <span class="width-90"></span>
            </div>
            <div class="flag__flag">
              <div class="flag__top">90%</div>
              <div class="flag__bottom"></div>
            </div>
          </div>
          <div class="flag__item">
            <div class="flag__title">Web Development</div>
            <div class="flag__line">
              <span class="width-95"></span>
            </div>
            <div class="flag__flag">
              <div class="flag__top">95%</div>
              <div class="flag__bottom"></div>
            </div>
          </div>
          <div class="flag__item">
            <div class="flag__title">Branding</div>
            <div class="flag__line">
              <span class="width-85"></span>
            </div>
            <div class="flag__flag">
              <div class="flag__top">85%</div>
              <div class="flag__bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team">
  <div class="team__container">
    <h2 class="team__title">Про команду</h2>
    <div class="team__text">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
      euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
      exerci tation ullamcorper suscipit.
    </div>
    <div class="team__row">
      <div class="team__column employees">
        <div class="employees__image ibg">
          <img [src]="pic1" alt="image">
        </div>
        <div class="employees__body">
          <div class="employees__title">Юрій Рубель</div>
          <div class="employees__subtitle">CEO/Founder</div>
          <div class="employees__text">
            Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu
            mmy nibh euis mod tinci. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="team__column employees">
        <div class="employees__image ibg">
          <img [src]="pic2" alt="image">
        </div>
        <div class="employees__body">
          <div class="employees__title">Іван Хамар</div>
          <div class="employees__subtitle">CEO/Founder</div>
          <div class="employees__text">
            Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu
            mmy nibh euis mod tinci. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="office">
  <div class="office__container">
    <div class="office__column">
      <div class="office__title">Зворотній зв'язок</div>
      <div class="office__subtitle">
        Нам усім потрібні люди, котрі можуть дати відгук. Це один з способів вдосконалення.
      </div>
      <div class="office__info">
        <p>
        <span>Надішліть ваше повідомлення:</span>
        ваша думка дуже важлива для нас!
        </p>
      </div>
    </div>
    <div class="office__column">
      <form class="office__form form gform" [formGroup]="form" method="post" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form__row">
          <div class="form__line">
            <input type="text" [formControl]="name" id="name" name="name" class="input req" (focus)="checkPlaceHolder()"
                   (blur)="checkPlaceHolder()" placeholder="{{myplaceHolder}}" minlength="3" required>
            <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            </div>
          </div>
          <div class="form__line">
            <input type="email" [formControl]="email" id="email" name="email" class="input req" (focus)="checkPlaceHolder1()"
                   (blur)="checkPlaceHolder1()" placeholder="{{myplaceHolder_one}}" required>
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
            </div>
          </div>
        </div>
        <div class="form__area">
          <textarea type="text" [formControl]="message" id="message" name="message" class="input" (focus)="checkPlaceHolder2()"
                    (blur)="checkPlaceHolder2()" placeholder="{{myplaceHolder_two}}" required></textarea>
          <div [hidden]="message.valid || message.untouched" class="alert alert-danger">
          </div>
        </div>
        <div class="form__button">
          <button type="submit" value="Submit" class="form__btn">Відправити повідомлення</button>
          <input [formControl]="honeypot" class="hidden" type="text"/>
        </div>
      </form>
    </div>
  </div>
</section>
