*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.hidden {
  display: none
}

.visible {
  display: block
}

section {
  display: block;
}

.head {
  padding: 115px 15px;
  position: relative;
  background: -webkit-gradient(linear,left top,right top,from(#f0f0f2),color-stop(70%,#e4e8eb));
  background: -o-linear-gradient(left,#f0f0f2 0,#e4e8eb 70%);
  background: linear-gradient(to right,#f0f0f2 0,#e4e8eb 70%);
}

@media (max-width: 700px) {
  .head {
    padding: 80px 15px;
  }
}

.head__container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.head__title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  background-color: #000;
  padding: 0 30px;
  margin: 0 0 40px 0;
  display: inline-block;
}

@media (max-width: 700px) {
  .head__title {
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 500px) {
  .head__title {
    font-size: 26px;
    line-height: 38px;
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  .head__title {
    font-size: 20px;
    line-height: 32px;
    padding: 0 10px;
  }
}

.head__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
}

@media (max-width: 500px) {
  .head__subtitle {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 5px;
    text-shadow: 2px 1px 2px #e4e8eb;
  }
}

.head__bg {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .head__bg {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .head__bg {
    width: 70%;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

  .ibg img {
    width: 300px;
  }

@media (max-width: 400px) {
  .ibg img {
    width: 200px;
  }
}

.story {
  padding: 70px 15px 100px;
}

@media (max-width: 767px) {
  .story {
    padding: 50px 15px;
  }
}

@media (max-width: 450px) {
  .story {
    padding: 40px 15px;
  }
}

.story__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .story__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.story__column:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 530px;
  flex: 0 0 530px;
  max-height: 700px;
  min-height: 350px;
}

@media (max-width: 1000px) {
  .story__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .story__column:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 0 20px 0;
    min-height: 300px;
  }
}

@media (max-width: 450px) {
  .story__column:nth-child(1) {
    min-height: 200px;
  }
}

.story__column:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 0 0 50px;
}

@media (max-width: 1100px) {
  .story__column:nth-child(2) {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 800px) {
  .story__column:nth-child(2) {
    margin: 0;
  }
}

.story__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin: 0 0 40px 0;
}

@media (max-width: 1100px) {
  .story__title {
    margin: 0 0 20px 0;
  }
}

.story__story p {
  letter-spacing: .35px;
  line-height: 30px;
  margin: 0 0 30px 0;
}

@media (max-width: 1000px) {
  .story__story p {
    margin: 0 0 15px 0;
    line-height: 24px;
  }
}

.story__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin: 0 0 40px 0;
}

@media (max-width: 1100px) {
  .story__title {
    margin: 0 0 20px 0;
  }
}

.story__flag {
  padding: 0 20px 0 0;
}

.flag__item {
  position: relative;
}

.flag__title {
  color: #2f302f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .4px;
}

.flag__line {
  height: 10px;
  border-radius: 1px;
  background-color: #ebebeb;
  margin: 15px 0 25px;
}

  .flag__line span {
    height: 2px;
    background-color: #a1a1a1;
    display: inline-block;
    margin: 0 0 12px 4px;
  }

  .flag__line .width-90 {
    width: calc(90% - 4px);
  }

  .flag__line .width-95 {
    width: calc(95% - 4px);
  }

  .flag__line .width-85 {
    width: calc(85% - 4px);
  }

.flag__flag {
  position: absolute;
  z-index: 1;
  bottom: -1px;
}

.flag__item:nth-child(1) .flag__flag {
  right: calc(10% - 40px);
}

.flag__item:nth-child(2) .flag__flag {
  right: calc(5% - 40px);
}

.flag__item:nth-child(3) .flag__flag {
  right: calc(15% - 40px);
}

.flag__item:last-child .flag__line {
  margin: 15px 0 0 0;
}

.flag__top {
  width: 40px;
  height: 31px;
  background-color: #041608;
  color: #fff;
  font-size: 12px;
  text-align: center;
  -webkit-clip-path: polygon(0 0,100% 0,100% 70%,15% 70%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 70%,15% 70%,0 100%);
  line-height: 22px;
  margin: 0 0 5px 6px;
}

.flag__bottom {
  width: 12px;
  height: 12px;
  border: 4px solid #000;
  background-color: #fff;
  border-radius: 50%;
}

.team {
  padding: 10px 15px 40px;
}

@media (max-width: 500px) {
  .team {
    padding: 10px 15px;
  }
}

.team__container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.team__title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

@media (max-width: 600px) {
  .team__title {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 500px) {
  .team__title {
    font-size: 24px;
    letter-spacing: 7px;
  }
}

.team__text {
  color: #777;
  letter-spacing: .35px;
  line-height: 30px;
  max-width: 600px;
  margin: 0 auto 60px;
}
@media (max-width: 600px) {
  .team__text {
    margin: 0 auto 30px;
    line-height: 24px;
  }
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 925px) {
  .team__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .team__row {
    margin: 0;
  }
}

.team__column {
  padding: 0 75px;
}

.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 850px) {
  .team__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (max-width: 500px) {
  .team__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 320px;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .employees__image {
    height: 300px;
  }
}

.employees__body {
  padding: 30px;
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .employees__body {
    padding: 100px 0px 50px 0px;
  }
}

@media (max-width: 400px) {
  .employees__body {
    padding: 0px 0px 50px 0px;
  }
}

.employees__title {
  color: #041608;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: .96px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

@media (max-width: 550px) {
  .employees__title {
    font-size: 19px;
  }
}

.employees__subtitle {
  color: #777;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .4px;
  margin: 0 0 20px 0;
}

.employees__text {
  color: #777;
  line-height: 24px;
}

.office {
  padding: 80px 15px 40px;
}

@media (max-width: 767px) {
  .office {
    padding: 0px 15px 40px 15px;
  }
}

.office__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  .office__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.office__column {
  margin: 0 0 40px 0;
}

  .office__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    min-width: 290px;
  }

@media (max-width: 750px) {
  .office__column:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

@media (max-width: 500px) {
  .office__column:nth-child(1) {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 300px) {
  .office__column:nth-child(1) {
    min-width: 200px;
  }
}

.office__title {
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .office__title {
    font-size: 26px;
    letter-spacing: 10px;
  }
}

@media (max-width: 300px) {
  .office__title {
    font-size: 22px;
  }
}

.office__subtitle {
  font-size: 16px;
  color: #2f302f;
  letter-spacing: .4px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .office__subtitle {
    line-height: 24px;
  }
}

.office__subtitle:after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000;
  display: block;
  margin: 10px 0 40px 0;
}

@media (max-width: 750px) {
  .office__subtitle:after {
    margin: 10px 0;
  }
}

.office__info {
  font-size: 15px;
  color: #777;
  letter-spacing: .4px;
  line-height: 30px;
}

@media (max-width: 750px) {
  .office__info {
    line-height: 20px;
  }
}

.office__info p {
  margin: 0 0 15px 0;
}

@media (max-width: 750px) {
  .office__info p {
    margin: 0 0 8px 0;
  }
}

.office__info span {
  color: #222;
  font-weight: 700;
}

.office__column:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66.667%;
  flex: 0 1 66.667%;
  min-height: 280px;
  margin: 0 0 0 20px;
}

@media (max-width: 750px) {
  .office__column:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
  }
}

@media (max-width: 300px) {
  .office__column:nth-child(2) {
    min-width: 200px;
  }
}

.office__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

@media (max-width: 500px) {
  .form__row {
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.form__line {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #ebebeb;
}

@media (max-width: 500px) {
  .form__line {
    margin: 0 0 15px 0;
    flex: 100%;
  }
}

.form__line:not(:last-child) {
  margin: 0 30px 0 0;
}

@media (max-width: 500px) {
  .form__line:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

.input {
  padding: 0 10px;
  background-color: #fff;
  width: 100%;
  font-size: 14px;
  font-style: italic;
  letter-spacing: .35px;
  border-radius: 2px;
}

button, input, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.form__area {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

textarea.input {
  padding: 10px;
  border-radius: 2px;
  resize: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: italic;
  letter-spacing: .35px;
}

.form__button {
  margin: 30px 0 0 0;
}

@media (max-width: 500px) {
  .form__button {
    margin: 15px 0 0 0;
  }
}

.form__btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .79px;
  background-color: #000;
  padding: 0 50px;
  border-radius: 2px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media (max-width: 370px) {
  .form__btn {
    line-height: 20px;
  }
}

@media (max-width: 265px) {
  .form__btn {
    width: 99%;
  }
}

  .form__btn:hover {
    background-color: #959595;
  }
