<main class="page slider__bg ibg">
    <section class="slider">
      <div class="slider__container">
        <div class="slick-list draggable">
          <div class="slick-track">
            <div class="slick-slide">
              <div>
                <div class="slider-1__column">
                  <h2 class="slider-1__title">Комп'ютерна графіка</h2>
                  <h3 class="slider-1__subtitle">Фракталальна графіка</h3>
                  <div class="slider-1__text">
                    У розділі "Фракталальна графіка", ви маєте можливість створити, масштабувати та зберігати вибрані вами фрактали.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__container">
        <div class="slick-list draggable">
          <div class="slick-track">
            <div class="slick-slide">
              <div>
                <div class="slider-1__column">
                  <h2 class="slider-1__title">Комп'ютерна графіка</h2>
                  <h3 class="slider-1__subtitle">Колірні моделі</h3>
                  <div class="slider-1__text">
                    У розділі "Колірні моделі", ви можете завантажити фотографію, змінити її колірну модель, яскравість та зберегти її.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__container">
        <div class="slick-list draggable">
          <div class="slick-track">
            <div class="slick-slide">
              <div>
                <div class="slider-1__column">
                  <h2 class="slider-1__title">Комп'ютерна графіка</h2>
                  <h3 class="slider-1__subtitle">Афінні перетворення</h3>
                  <div class="slider-1__text">
                    У розділі "Афінні перетворення", ви маєте можливість створити рухому фігуру, масштабувати,
                    переміщувати, та повертати її на певний кут.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
<section class="filter">
  <div class="filter__container">
    <nav class="filter__menu">
      <div class="filter__filter">
        <button class="filter__link" mat-raised-button color="primary" (click)="main_assignComponent('cg')">
          Комп'ютерна графіка
        </button>
        <button class="filter__link" mat-raised-button color="primary" (click)="assignComponent('fractals')">
          Фрактальна графіка
        </button>
        <button class="filter__link" mat-raised-button color="primary" (click)="assignComponent('color-models')">
          Колірні моделі
        </button>
        <button class="filter__link" mat-raised-button color="primary" (click)="assignComponent('affine-transformations')">
          Афінні перетворення
        </button>
      </div>
      <div class="filter__arrow">
        <fa-icon class="fa faAngleDoubleDown" aria-hidden="true"></fa-icon>
      </div>
    </nav>
  </div>
  <div>
    <ng-container *ngComponentOutlet="contentComponent"></ng-container>
  </div>
</section>
