*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ibg {
  background-size: cover;
  position: relative;
}

main {
  display: block;
}

.page {
  background-image: url(https://smartsurock.github.io/Lian/img/Slider-1/001.jpg);
  font-family: Roboto;
}

.slider {
  min-height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 15px;
}

.slider-1 {
  min-width: 0;
  height: 100%;
}

.slider__container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.slider__container .slick-arrow{
  font-size: 42px;
  color: #000;
}

.slider__container .slick-list {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 730px;
}

.slider__container .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-1__column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 450px) {
  .slider-1__column {
    padding: 0px 0px;
  }
}

.slider-1__title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  margin: 0 0 30px 0;
}

@media (max-width: 700px) {
  .slider-1__title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (max-width: 550px) {
  .slider-1__title {
    font-size: 28px;
    line-height: 40px;
    margin: 70px 0 20px 0;
  }
}

@media (max-width: 450px) {
  .slider-1__title {
    font-size: 18px;
    line-height: 30px;
    margin: 100px 0 20px 0;
  }
}

@media (max-width: 360px) {
  .slider-1__title {
    font-size: 14px;
    line-height: 30px;
    margin: 50px 0 20px 0;
  }
}

.slider-1__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

@media (max-width: 550px) {
  .slider-1__subtitle {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 360px) {
  .slider-1__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.slider-1__text {
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 350px) {
  .slider-1__text {
    font-size: 14px;
    line-height: 14px;
  }
}

.filter {
  padding: 0px 15px 55px;
  font-family: Roboto;
  color: #000;
  font-size: 14px;
}

@media (max-width: 767px) {
  .filter {
    padding: 30px 15px;
  }
}

.filter__container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;
}

aside, footer, header, nav {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav {
  display: block;
}

.filter__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 58px;
  position: relative;
  padding: 30px 0px 0px 0px;
}

  .filter__filter:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    bottom: 0;
  }

  .filter__filter:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
  }

.filter__link.checked {
  color: #000;
}

.filter__link {
  line-height: 58px;
  background-color: transparent;
  color: #777;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  outline: none;
}
  .filter__link:hover {
    color: #000;
    text-decoration: none;
  }

  .filter__link:not(:last-child):after {
    content: "";
    width: 1px;
    height: 32px;
    background-color: #d7d7d7;
    display: inline-block;
    -webkit-transform: rotate( 25deg ) translate(0,13px);
    -ms-transform: rotate(25deg) translate(0,13px);
    transform: rotate( 25deg ) translate(0,13px);
    margin: 0 0 0 30px;
  }

@media (max-width: 785px) {
  .filter__link:not(:last-child):after {
    content: none;
    width: 0px;
  }
}

  .filter__link:not(:first-child) {
    margin: 0 0 0 20px;
  }

@media (max-width: 850px) {
  .filter__link:not(:first-child) {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 815px) {
  .filter__link:not(:first-child) {
    margin: 0 0 0 0px;
  }
}

button {
  cursor: pointer;
}

button, input, textarea {
  font-family: inherit;
}

@media (max-width: 785px) {
  .filter__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 785px) {
  .filter__filter {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 42px;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 785px) {
  .filter__link {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: right;
    line-height: 26px;
    opacity: 0;
    visibility: hidden;
    margin: 0 15px 0 0 !important;
  }
}

.filter__arrow {
  display: none;
}

@media (max-width: 785px) {
  .filter__arrow {
    display: inline-block;
    margin: 0 0 0 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

  .filter__arrow .fa {
    font-size: 30px;
    padding: 5px 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter__menu.active .filter__arrow .fa {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.filter__menu.active .filter__filter {
  height: 100%;
}

.filter__menu.active .filter__link {
  opacity: 1;
  visibility: visible;
}

.filter__link.checked {
  color: #000;
}

.faAngleDoubleDown:before {
  content: "\f103";
}
