<section class="color-models">
  <div class="color-models__container">
    <div class="color-models__column">
      <div class="color-models__color-models">
        <h2 class="color-models__title">Колірні моделі</h2>
        <p>
          Колірна модель — абстрактна модель опису представлення кольорів у вигляді кортежів (наборів) чисел,
          зазвичай з трьох або чотирьох значень, званих колірними компонентами або колірними координатами.
          Разом з методом інтерпретації цих даних, множина кольорів колірної моделі визначає колірний простір.
        </p>
        <p>
          <a routerLink="/color-models" class="blog__btn">Перейти у розділ</a>
        </p>
      </div>
    </div>
    <div class="color-models__column ibg"
         style="background-image: url(https://petapixel.com/assets/uploads/2013/03/ColorCube-650px.jpg);">
    </div>
  </div>
</section>
