*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fractals {
  padding: 70px 15px 100px;
}

@media (max-width: 767px) {
  .fractals {
    padding: 50px 15px;
  }
}

@media (max-width: 450px) {
  .fractals {
    padding: 40px 15px;
  }
}

.fractals__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .fractals__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.fractals__column:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 530px;
  flex: 0 0 530px;
  max-height: 700px;
  min-height: 350px;
}

@media (max-width: 1000px) {
  .fractals__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .fractals__column:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 450px) {
  .fractals__column:nth-child(1) {
    min-height: 200px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.fractals__column:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 0 0 50px;
}

@media (max-width: 1100px) {
  .fractals__column:nth-child(2) {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 800px) {
  .fractals__column:nth-child(2) {
    margin: 0;
  }
}

.fractals__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin: 0 0 40px 0;
}

@media (max-width: 1100px) {
  .fractals__title {
    margin: 0 0 20px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.fractals__fractals p {
  letter-spacing: .35px;
  line-height: 30px;
  font-size: 16px;
  margin: 0 0 30px 0;
}

@media (max-width: 1000px) {
  .fractals__fractals p {
    margin: 0 0 15px 0;
    line-height: 24px;
  }
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

img {
  vertical-align: top;
}

.blog__btn {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .76px;
  width: 155px;
  line-height: 30px;
  background-color: #959595;
  display: block;
  text-align: center;
  margin: 30px auto 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 2px;
}

a, a:visited {
  text-decoration: none;
}

  a:active, a:focus {
    outline: 0;
  }

  a:hover {
    text-decoration: none;
  }

.blog__btn:hover {
  background-color: #000;
}
