<section class="fractals">
  <div class="fractals__container">
    <div class="fractals__column ibg"
         style="background-image: url(https://www.fundza.com/algorithmic/sierpinski/python/img/sierpinski_blobby_large.jpg);">
    </div>
    <div class="fractals__column">
      <div class="fractals__fractals">
        <h2 class="fractals__title">Фрактали</h2>
        <p>
          Фракталом називається структура, що складається з частин, які в якомусь сенсі подібні до цілого.
          В основі цього явища лежить дуже проста ідея. Нескінчену по красі і різноманітності множину фігур
          можна отримати з відносно простих конструкцій за допомогою всього двох операцій - копіювання і масштабування.
        </p>
        <p>
          <a routerLink="/fractals" class="blog__btn">Перейти у розділ</a>
        </p>
      </div>
    </div>
  </div>
</section>
