<section class="head">
  <div class="head__container">
    <h2 class="head__title">Фрактали</h2>
    <h3 class="head__subtitle">Створюйте власні фрактали</h3>
  </div>
  <div class="head__bg ibg" style="background-image: url(https://highlike.org/media/2015/02/Tom-Beddard-box-pyramid-1.jpg);"></div>
</section>
