<body>
  <div>
    <header class="header">
      <div class="header__container">
        <div class="header__logo">
          <img src="https://smartsurock.github.io/Lian/img/icons/logo.webp" alt="alt" />
        </div>
        <div class="header__menu menu">
          <div class="menu__icon icon-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <nav class="menu__body">
            <ul class="menu__list">
              <div>
              </div>
              <li> <a routerLink="/" class="menu__link one">Головна сторінка</a> </li>
              <li> <a routerLink="/fractals" class="menu__link two">Фрактали</a> </li>
              <li> <a routerLink="/color-models" class="menu__link three">Колірні моделі</a> </li>
              <li> <a routerLink="/affine-transformations" class="menu__link four">Афінні перетворення</a> </li>
              <li> <a routerLink="/about-us" class="menu__link five">Про нас</a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</body>
