body {
  font-family: Roboto;
  color: #000;
  font-size: 14px;
  max-width: 100%;
}

.header {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  height: 90px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

.header__logo {
  z-index: 1003;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

head {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .menu__list div {
    width: 27%;
    position: relative;
  }

    .menu__list div:after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #06060a;
      position: absolute;
      top: 50%;
      right: 0;
    }

.menu__link {
  display: block;
  margin: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #777;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-family: Roboto;
  font-size: 14px;
}

  .menu__link:hover {
    color: #000;
    text-decoration: none;
  }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

  ul li {
    list-style: none;
  }

aside, footer, header, nav {
  display: block;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 775px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
    width: 30px;
    height: 18px;
    z-index: 1005;
  }
}

@media (max-width: 775px){
  .icon-menu span:first-child {
    top: 0;
  }
}

@media (max-width: 775px) {
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 775px) {
  .icon-menu span {
    -webkit-transition: all .3s 0s;
    -o-transition: all .3s 0s;
    transition: all .3s 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #777;
  }
}

icon-menu.active span:first-child {
  -webkit-transform: rotate( -45deg );
  -ms-transform: rotate(-45deg);
  transform: rotate( -45deg );
  top: 8px;
}

@media (max-width: 775px) {
  .icon-menu span:first-child {
    top: 0;
  }
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate( 45deg );
  -ms-transform: rotate(45deg);
  transform: rotate( 45deg );
  bottom: 8px;
}

@media (max-width: 775px) {
  .icon-menu.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

@media (max-width: 775px) {
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 775px) {
  .icon-menu.active span:first-child {
    -webkit-transform: rotate( -45deg );
    -ms-transform: rotate(-45deg);
    transform: rotate( -45deg );
    top: 8px;
  }
}

@media (max-width: 775px) {
  .menu__list {
    display: block;
    text-align: center;
    padding: 110px 0 0 0;
    padding-top: 110px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 775px) {
  .menu__body {
    z-index: 1002;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.9);
    -webkit-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    transform: translate(0,-100%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
}

@media (max-width: 775px) {
  .menu__body.active {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}
 
@media (max-width: 775px) {
  .menu__list div:after {
    content: none;
  }
}
