<section class="head">
  <div class="head__container">
    <h2 class="head__title">Колірні моделі</h2>
    <h3 class="head__subtitle">Змінюйте колірні моделі зображень</h3>
  </div>
  <div class="head__bg ibg" style="background-image: url(https://ic.pics.livejournal.com/sonata/11730195/129925/129925_original.jpg);">
  </div>
</section>
<section class="story">
  <div class="story__container">
    <div class="story__column">
      <input type="file" id="getval" name="getval" />
    </div>
    <canvas id="clock" name="clock" class="clock"></canvas>
  </div>
</section>

