*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.hidden {
  display: none
}

.visible {
  display: block
}

section {
  display: block;
}

.head {
  padding: 115px 15px;
  position: relative;
  background: linear-gradient(to right,#dfdfdd 0,#efeeea 30%);
}

@media (max-width: 700px) {
  .head {
    padding: 80px 15px;
  }
}

.head__container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.head__title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  background-color: #000;
  padding: 0 30px;
  margin: 0 0 40px 0;
  display: inline-block;
}

@media (max-width: 700px) {
  .head__title {
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 500px) {
  .head__title {
    font-size: 26px;
    line-height: 38px;
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  .head__title {
    font-size: 20px;
    line-height: 32px;
    padding: 0 10px;
  }
}

.head__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 7.2px;
}

@media (max-width: 500px) {
  .head__subtitle {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 5px;
    text-shadow: 2px 1px 2px #e4e8eb;
  }
}

.head__bg {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .head__bg {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .head__bg {
    width: 70%;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

  .ibg img {
    width: 100%;
    min-height: 100%;
    position: center;
  }

@media (max-width: 400px) {
  .ibg img {
    width: 200px;
  }
}

.story {
  padding: 70px 15px 100px;
}

@media (max-width: 767px) {
  .story {
    padding: 50px 15px;
  }
}

@media (max-width: 450px) {
  .story {
    padding: 40px 15px;
  }
}

.story__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .story__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.story__column:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 530px;
  flex: 0 0 530px;
  max-height: 700px;
  min-height: 350px;
}

@media (max-width: 1000px) {
  .story__column:nth-child(1) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    max-height: 500px;
  }
}

@media (max-width: 800px) {
  .story__column:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 0 20px 0;
    min-height: 300px;
  }
}

@media (max-width: 450px) {
  .story__column:nth-child(1) {
    min-height: 200px;
  }
}

.story__column:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 0 0 50px;
  overflow: hidden;
  border: 10px solid black;
}

@media (max-width: 1100px) {
  .story__column:nth-child(2) {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 800px) {
  .story__column:nth-child(2) {
    margin: 0;
  }
}

.clock {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 500px;
  box-shadow: 0 5px 15px 15px rgb(163 163 163 / 20%);
  background-image: url(https://mayk.com/wp-content/uploads/2016/06/image-placeholder.jpg);
}

a {
  background: #69c;
  color: #fff;
  padding: 5px 10px;
}

