<section class="affine_transformations">
  <div class="affine_transformations__container">
    <div class="affine_transformations__column ibg"
         style="background-image: url(https://i.pinimg.com/564x/f6/71/bf/f671bfe1a2a329a701944979cfd46f2c.jpg); ">
    </div>
    <div class="affine_transformations__column">
      <div class="affine_transformations__affine_transformations">
        <h2 class="affine_transformations__title">Афінні перетворення</h2>
        <p>
          Афінні перетворення використовуються для створення рухомих зображень, завдяки своїм властивостям, котрі базуютсья
          на основі лінійних перетворень, та поділються за способом створення - переміщення/зсув, масштабування, поворот на кут.
        </p>
        <p>
          <a routerLink="/affine-transformations" class="blog__btn">Перейти у розділ</a>
        </p>
      </div>
    </div>
  </div>
</section>
